
#attendee {
    margin: 1em;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    background-color: red;
    margin: 0.5em;
    font-size: 3em;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.2) inset, 0px 0px 12px rgba(255, 255, 255, 0.1);
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1);
}

label {
    margin: 5px;
    width: 550px;
    height: 80px;    
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1);
}
/* hide input */
input.checkbox:empty {
    margin-left: -9999px;
}

/* hide input */
input.radio:empty {
    margin-left: -9999px;
}

    /* style label */
    input.radio:empty ~ label {
        position: relative;
        float: left;
        padding-left: 9em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.2) inset, 0px 0px 12px rgba(255, 255, 255, 0.1);        
    }

        input.radio:empty ~ label:before {
            position: absolute;
            line-height: 1em;
            display: block;
            font-size: 6.5em;
            top: 0;
            bottom: 0;
            left: 0;
            content: '\2714';
            text-indent: 0.1em;
            color: white;
            background: white;
            box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.2) inset, 0px 0px 12px rgba(255, 255, 255, 0.1);
        }

/* toggle on */
input.radio:checked ~ label:before {
    content: '\2714';
    text-indent: 0.1em;
    color: red;
    background-color: white;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.2) inset, 0px 0px 12px rgba(255, 255, 255, 0.1);
}

input.radio:checked ~ label {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    background-color: red;
}

/* radio focus */
input.radio:focus ~ label:before {
}
