/Backup
/Data/debug

/Data/diagnostics
/Data/indexes/__system

/Data/indexes/sitecore_core_index

/Data/indexes/sitecore_master_index
/Data/indexes/sitecore_web_index
/Data/logs

/Data/packages
/Data
/Databases
/Backup
/_UpgradeReport_Files

/UpgradeLog.XML

/UpgradeLog.htm

/Website/obj/Debug
/Website/obj
/Website/upload

/SBOSSurvey/BuiltFiles_Debug.txt
/SBOSSurvey/Debug
/Website/sitecore
/Website/sitecore modules
/Website/sitecore_files
/Website/temp
