/Data
/Databases
/Database
/lib
/SBOSSurvey/Debug
/Website/_DEV
/Website/sitecore
/Website/sitecore modules
/Website/sitecore_files
/Website/temp
/SBOSSurvey/BuiltFiles_Debug.txt
/_UpgradeReport_Files
/Backup
/Website/obj
/Website/upload
/Website
/SBOSSurvey/IconCache
/SBOSSurvey/obj/IconCache
/packages/Microsoft.AspNet.Mvc.5.2.3/Content
/packages/Microsoft.AspNet.Mvc.5.2.3
/packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.dll
/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
/packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.dll
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.dll
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.dll
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.dll
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
/SBOSSurvey.core/obj/IconCache
