<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HedgehogDevelopment.SitecoreProject.Service.Configuration" type="HedgehogDevelopment.SitecoreProject.Service.ServiceConfiguration, HedgehogDevelopment.SitecoreProject.Service" requirePermission="false" />
  </configSections>
  <HedgehogDevelopment.SitecoreProject.Service.Configuration accessGuid="574f3076-393d-4408-8a05-09d7c1b6be91" />
</configuration>
