@media screen and (max-width: 767px) {
    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 10px;
    }

    h4 {
        font-size: 10px;
    }

    .btn-xxlg {
        font-size: 15px;
    }

    .btn-xlg {
        font-size: 30px;
    }

    .labeltext {
        text-align: left;
        font-size: large;
    }

    .mmodelcontent {
        font-weight: bold;
        height: 120px;
        line-height: 120px;
        text-align: center;
        background-color: white;
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    h1 {
        font-size: 400%;
    }

    h2 {
        font-size: 200%;
    }

    h3 {
        font-size: 150%;
    }

    h4 {
        font-size: 100%;
    }

    .btn-xxlg {
        font-size: 50px;
    }

    .btn-xlg {
        font-size: 35px;
    }

    .labeltext {
        text-align: right;
        font-size: x-large;
    }

    .mmodelcontent {
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: white;
    }
}

@media screen and (min-width:992px) {
    h1 {
        font-size: 600%;
    }

    h2 {
        font-size: 300%;
    }

    h3 {
        font-size: 200%;
    }

    h4 {
        font-size: 120%;
    }

    .labeltext {
        text-align: right;
        font-size: xx-large;
    }



    .mmodelcontent {
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: white;
    }
}

body {
    background-color: #E8E8E8;
    padding-bottom: 100px;
}

.footer {
    background: -moz-linear-gradient(left, #a52d1d 36%, #d81b06 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(36%,#a52d1d), color-stop(100%,#d81b06)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #a52d1d 36%,#d81b06 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #a52d1d 36%,#d81b06 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #a52d1d 36%,#d81b06 100%); /* IE10+ */
    background: linear-gradient(to right, #a52d1d 36%,#d81b06 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a52d1d', endColorstr='#d81b06',GradientType=1 ); /* IE6-9 */
}

.mmodelheader {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
}
