<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.;Initial Catalog=SBOSSitecore_core;User ID=sa;Password=10Philpot" />
  <add name="master" connectionString="Data Source=.;Initial Catalog=SBOSSitecore_master;User ID=sa;Password=10Philpot" />
  <add name="web" connectionString="Data Source=.;Initial Catalog=SBOSSitecore_web;User ID=sa;Password=10Philpot" />
  <add name="analytics" connectionString="Data Source=.;Initial Catalog=SBOSSitecore_core;User ID=sa;Password=10Philpot" />

</connectionStrings>